*body{
    /* margin: 0 auto; */
    width: 1400px;
    font-family: 'Work Sans', sans-serif;
  
}
.container{
    background-image: url('/images/banner/banner1.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
    height: 808px;
    padding: 0 150px;
    margin: 20px;

    
  
}
.info {
    padding-top: 200px;
    padding-right: 60px;
    text-align: right;
}
.info h1{
    font-size: 65px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
   
}
.info p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}
.info button{
    background-color: #F15B22;
    color: #FFFFFF;
    border: none;
    width: 140px;
    height: 44px;
    font-size: 20;
    font-weight: 400;
    border-radius: 5px;
}

/* ==========================  */
.failures{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 80px;
  
}
.failures .person{
    
    position: relative;
}
.failures .person .circle{
    background-color: #F15B22;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: absolute;
    bottom: 3px;
    left: 37px;
    z-index: -1;
    
   
    
}

.failures .person img {
    width: 569px;
    height: 723px;
    
    
}
.failure{
    margin-left: 250px;
    margin-top: 70px;
}

.failure h1{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}
.failure p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;

}

.failure h4 img{
    width: 13px;
    margin-right:2px;

}
.failure h4 {
    font-size:16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}
/* ====================================  */
.myplans{
    margin-top: 100px;
}
.myplans h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 80px;
}
.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.plan{
    text-align: center;
    margin-right: 70px;
}
.plan img{
    width: 92.96px;

}
.plan h2{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    
}
.plan p{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}
/* ========================  */

#callnow{
    margin-top: 100px;
    margin-left: 220px;
    background-image: url("/images/watch.png");
    width: 1140px;
    height: 300px;
}
.gradiant{
    background-image: url("/images/gradient2.png");
    width: 1140px;
    height: 300px;
}
.gradiant h1{
    /* text-align: center; */
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;
}
.gradiant button{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif; 
    color: #F15B22;
    width: 160px;
    height: 60px;
}
.call{
   padding-top: 30px;
   padding-left: 30px;
}